API_ID=39005479 # get this value from my.telegram.org
API_HASH=c2e7265b2e96025adcc4731c2c1e5ba5 # get this value from my.telegram.org
BOT_TOKEN=8357466207:AAGNJy4DYDSFSHPZ8fELwsuvfU3l0indKkE # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1003807388230 # get this value from in your log group 
MUSIC_BOT_NAME=Suruchi # your music bot name 
STRING_SESSION=BQE-4i0ATBa04O65GCMroeZlZa8aJP2tUFcHVxM5DNsnf3HvO0K4E7Zy8zFYHVhYutVtSInbU3oZIJaULAMNPlfLKhidwjgOZZ2HcmJKhKgAB78RRMQcFsrdOcDiPeCzzzScLWlNs5ccxiw3Nmju0hcLmIvrxTXwLkATiUU058mRT0W9i0AT19PHx--E-VScSyaiDxHe1vC1SBcOp8zcGmNX0LUt3kWzxtx2uOdMmYu3ArI5UqGNmSbw9yvtii4YaKYL6xzSX_BhtSN4TWHa0-fgK9e46xtqsDrMtMWI7ZHNN5gkFmxhDpvOt5V_R0arZ12bQEkfIXeb6u1t1PCtEaoPJCD-swAAAAHKarFXAA # get this value from @yukkistringbot
